<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text text-center pure-u-1 strip-margin">LGBTQIAP</h1>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        We are able to provide individual, couples, and family therapy for those
        who are lesbian, gay, bisexual, transgender/transexual, queer/gender
        variant, questioning, intersex, asexual, and pansexual. As a member of
        this community, <a routerLink="/shelley">Shelley</a> understands the
        importance of having a helping professional who respects, supports, and
        empathizes with you and your journey, as well as understands the complex
        challenges you may be facing. Inner Path Counseling and Wellness strives
        to create a safe environment, free from judgement, where you can be
        yourself and your identity can be supported.
      </p>
      <p>Common areas of focus for individuals in this community may be:</p>
      <ul>
        <li>Coming out</li>
        <li>
          Trans issues such as internal identity, transitioning, transparenting,
          etc
        </li>
        <li>Exploration of gender identities/expressions</li>
        <li>Exploration of sexual orientations</li>
        <li>Parenting LGBTQIAP children</li>
        <li>Facilitating a healthy identity</li>
        <li>Supporting LGBTQIAP family/friends</li>
        <li>Social support</li>
        <li>Creating a chosen family</li>
        <li>Intimacy and dating</li>
        <li>HIV/chronic illness</li>
        <li>Oppression, marginalization, discrimination</li>
        <li>Trauma</li>
        <li>Intimate partner and/or family abuse</li>
        <li>Depression and/or anxiety</li>
        <li>Religious issues</li>
        <li>Identifying with preferred pronouns</li>
      </ul>
      <p>
        If you feel you would like to discuss any of these issues, or an issue
        specific to your situation, know that we are here for you. Feel free to
        contact us and we look forward to hearing from you!
      </p>
    </div>
  </div>
</div>
