<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text text-center pure-u-1 strip-margin">
      Dialectical Behavior Therapy
    </h1>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        Dialectical Behavior Therapy (DBT) is a set of behavioral skills that
        allow you to learn to better handle difficult situations and daily life
        without becoming emotionally overwhelmed. DBT teaches the important
        concept of validation along with specific new behaviors within four core
        skill areas: mindfulness, distress tolerance, emotion regulation, and
        interpersonal effectiveness. DBT skills help us to learn to handle
        life's discomforts and how to set and maintain boundaries, ask for what
        we need, and overall improve our effectiveness in our relationships.
      </p>
      <p>
        If you feel this type of therapy would benefit you, contact us for more
        information.
      </p>
    </div>
  </div>
</div>
