<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text pure-u-1 text-center strip-margin">Reiki</h1>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        Reiki (pronounced ray-key) is a Japanese energy technique that means
        "universal life energy" and is used for stress reduction and relaxation.
        The hands channel this energy to help clear any blockages from our
        minds, hearts, and bodies in order to promote healing. This activates
        the healing processes of the body and restores well-being.
      </p>
      <p>
        Reiki helps to rebalance your energy bringing your mental, emotional,
        and physical self back into balance. Blockages are also released to help
        you live a life of mindfulness.
      </p>
      <p class="text-center">
        <i>"REIKI brings back the Light that was always inside us."</i>
      </p>
      <p class="text-center">~ Sandrine Daubord</p>
      <p>
        If you are interested in learning more about Reiki, or scheduling a
        session, contact us today!
      </p>
    </div>
  </div>
</div>
