<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text text-center pure-u-1 strip-margin">About Us</h1>
    <div class="pure-u-1 pure-u-lg-1-3 body-text box-center pad">
      <div *ngFor="let person of people" class="pad">
        <app-about-card [person]="person"></app-about-card>
      </div>
    </div>
    <div class="pure-u-1 pure-u-lg-2-3 body-text box-center pad">
      <p>
        Inner Path Counseling and Wellness blazed into existence thanks to an
        idea from two friends and colleagues, Eryn Smith-Moeller and Shelley
        Pier—why not join forces as awesome trauma therapists and build a
        community of like-minded healers? We are passionate about being a safe
        space for clients to heal while also cultivating an experienced, caring
        group of clinicians. We are trauma-informed therapists who value
        learning from and supporting one another as each person grows in their
        own practice and experience. We exchange insights, wisdom, and help each
        other as needed.
      </p>
      <p>
        Inner Path Counseling and Wellness is a multifaceted practice where
        clients find empowering, enriching, evidence-based interventions that
        not only address the symptoms which trauma can cause, but the underlying
        root causes as well. Along with offering individual, couples, and family
        counseling, the practice will be home to the Connections Path Room, a
        space dedicated to art, movement, groups, and workshops. We also offer
        other services, such as community trainings, consultation/supervision,
        rental space opportunities and more! Check out our Other Services Tab
        for more info on everything we have to offer. (Read more about EMDR
        <a routerLink="/emdr">here</a>. Read more about IFS
        <a routerLink="/ifs-parts-work">here</a>).
      </p>
      <p>
        Having both come from the nonprofit world, as well as having the
        opportunity to work at other group practices, we have unique insights
        into how we prefer to do counseling and run a business. We have found it
        is of the utmost importance to surround ourselves with like-minded,
        caring, empathetic, client-centered, ethical, and educated clinicians.
        We work with clinicians who have a wide variety of specialties in order
        to easily refer clients to the best and most fitting treatment options.
      </p>
      <p>
        The Spiraled Lotus logo came from an amalgamation of both Eryn and
        Shelley’s previous business logos. The Spiral symbolizes the path or
        journey clients embark upon during the process of healing in therapy. It
        also is a nod to two of the specialties offered - EMDR and IFS - which
        offer unique ways of understanding one’s labyrinthine Mind and Self
        (Read more about EMDR here. Read more about IFS here).
      </p>
      <p>
        The lotus is a symbol of healing. Eryn speaks best about lotus
        symbolism:
      </p>
      <p>
        <i>
          “Years ago, I received a gift of an anklet of silver lotus petals. It
          came with an inspirational explanation that lotuses represent hope,
          purity, strength and perseverance. The bloom of the lotus represents
          the heart’s temple. Even though it’s roots are deep in the mud of the
          ponds and lakes, it raises its bloom in spotless, immaculate beauty,
          high above the dark surface of the water. Nature shows us examples to
          direct us and to challenge us. In life, character is proven in our
          rising above and growing through, not escaping hard times.
          <br /><br /><b
            >To me, going through your pain instead of trying to go around it
            shows immense courage.</b
          >
          When you "go around" or avoid trauma and pain you will likely come
          face-to-face with it again and again in the future. "Going through"
          the trauma facilitates personal growth you never imagined. You can be
          stronger and more resilient than you thought possible.
          <br /><br />Like the lotus that thrives by going through the mud and
          blossoming, together we will find a way through the mud and trauma of
          life so that you can bloom to your fullest potential.”
        </i>
      </p>
      <p>
        Feel free to click on the tabs of our clinicians and read about whom
        might be the best fit for you. We look forward to helping you blossom as
        you engage in your healing journey. Contact us today!
      </p>
    </div>
  </div>
</div>
