<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text text-center pure-u-1 strip-margin">Cultural Identity Issues</h1>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        Culture is comprised of beliefs, values, and customs practiced by particular groups 
        and includes a broad range of factors including race, ethnicity, religion, sexual 
        orientation, and disability. Cultural identity influences how we approach our 
        well-being, personality, family, and more. Additionally,  piecing together cultural 
        identity may be a struggle for some – particularly with regards to belonging. 
        Meeting expectations of two or more cultures can put pressure on individuals, which 
        may contribute to mental health issues.
      </p>
      <p>
        When we are sensitive to cultural diversity, therapy is not one size fits all. It is 
        important to know when to generalize and when to individualize the therapy to help 
        clients work out feelings related to cultural identity versus a separate underlying 
        issue. If you are struggling with issues related to cultural identity, contact us 
        today. We'd love to pair you up with a therapist who will sensitively help you work 
        through this issue.
      </p>
    </div>
  </div>
</div>