<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text text-center pure-u-1 strip-margin">Cassie</h1>
    <div class="pure-u-1 pure-u-lg-1-2 pad box-center">
      <img
        src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1471449299/FB_IMG_1470266490385_p5zhdr.jpg"
        class="pure-img rounded box-center"
      />
    </div>

    <div class="pure-u-1 pure-u-lg-3-4 body-text pad box-center">
      <p>
        My name is Cassie and I am a very special dog. I was adopted from Rover
        Rescue in 2012 and after a year of training, I became certified to go to
        work with my mom and help people who have been through difficult life
        events.
      </p>
    </div>

    <div class="pure-u-1 pure-u-lg-1-2 pad box-center">
      <img
        src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1547518575/innerpath/Cassie_2.jpg"
        class="pure-img rounded box-center"
      />
    </div>

    <div class="pure-u-1 pure-u-lg-3-4 body-text pad box-center">
      <p>
        My mom chose to adopt me because I know what it’s like to heal from
        trauma. I’m living proof that you can trust, love life, and heal from
        those painful memories and emotions. People like to have me in session
        for many different reasons. Petting me helps lower anxiety. Some people
        feel more safe and find it easier to talk with me in the room. Some
        people need help with certain goals, like learning assertiveness or
        strengthening self esteem, and I am used in various activities to help
        you accomplish those goals. I'm a very good listener and no matter what
        you have been through, I don't judge and I love everyone who walks in
        the door!
      </p>
      <p>
        When I’m not at work, some of my favorite things are: going on walks,
        chasing rabbits and chipmunks, napping, sniffing everything, and playing
        with my kong.
      </p>
      <p>
        If you would like to meet me, learn more about me, or have me in your
        sessions, contact my mom for more information.
      </p>
      <img
        src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1472415953/cassiesign_m3cwbd.jpg"
        id="cassie-sig"
      />
      <span class="body-text" id="cassie">Cassie</span>
    </div>
  </div>
</div>
