<div class="route-content">
  <div class="pure-g">
    <div class="pure-u-1">
      <iframe
        class="map"
        frameborder="0" style="border:0"
        [src]="mapsFrameUrl" allowfullscreen>
      </iframe>
    </div>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        Our office is located in Westmont, 30 minutes west of Chicago, between I-88 and 
        Ogden Ave on Cass/Midwest Rd at 825 N Cass Ave, Suite 115. Parking is available 
        right in front of the suite at this single-story building. Parking is free of charge.
      </p>
      <p>
        If you have any questions about the services we provide or you would like to schedule 
        a free consultation, you may contact us by phone at 708-571-0082. You can also email 
        us at innerpath.inquiries@gmail.com or you may fill out the form below. We will 
        respond as soon as possible, generally within 24 hours. If you are experiencing an 
        emergency or need immediate assistance please go to your nearest emergency room or 
        call 911.
      </p>
      <p>
        The owners of this practice are the only people who will respond to this inquiry. 
        Please leave as much or as little information as you feel comfortable with. We’ll be 
        glad to hear from you.
      </p>
      <p>
        **No solicitations**
      </p>
    </div>
  </div>
</div>