<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text pure-u-1 text-center strip-margin">
      IFS/Parts Work
    </h1>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        Internal Family Systems (IFS) Therapy is an evidence-based approach for
        working with trauma and other troubling issues. It helps to get to the
        root of understanding a variety of unwanted or mysterious behaviors
        (they are often serving a hidden function for you!)
      </p>
      <p>
        <a href="https://www.selfleadership.org/" target="_blank">
          Read more about IFS therapy and the founder of the theory here.
        </a>
      </p>
      <p>
        In IFS, also known as "Parts Work", we discover the "parts of Self"
        operating behind the scenes and we get to know these hardworking parts.
        Some parts are working very hard for you and are ignored or
        unappreciated. Some parts are misunderstood in their ways they try to
        "help". We have lots of "parts" of Self trying to help us in their own
        unusual ways. The diagram below explains some of the parts we each have
        (Manager, Firefighters and Exiles).
      </p>
      <p>
        <a
          href="https://lifeasawave.net/2013/06/30/ifs-you-in-the-pilot-seat/"
          target="_blank"
        >
          Here is a link to an article that helps explain how IFS works in
          simple terms.
        </a>
      </p>
      <p>
        Eryn is a Level One Trained IFS Therapist. She says, “I love doing IFS
        work and have found it can be life changing and illuminating. It can
        help us begin to have compassion for ourselves and the unseen work our
        parts do for us every day.”
      </p>
      <p>
        "There are no 'bad' parts, the goal of therapy is not to eliminate parts
        but instead help them find their non-extreme roles." -Dick Schwartz,
        creator of Internal Family Systems Therapy
      </p>
    </div>
    <div class="pure-u-1 pad">
      <img
        class="pure-img box-center rounded"
        src="https://res.cloudinary.com/dz9rf4hwz/image/upload/v1540067413/innerpath/ifs-mandala.jpg"
      />
    </div>
  </div>
</div>
