<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text pure-u-1 text-center strip-margin name">
      Sue Shekut, LCPC, LMT
    </h1>
    <div class="pure-u-1 pure-u-lg-1-2 pad">
      <img
        src="https://res.cloudinary.com/dz9rf4hwz/image/upload/v1547780304/innerpath/SueShekut_7-17_5845_sm.jpg"
        class="pure-img rounded sue-img"
      />
    </div>

    <div class="pure-u-1 pure-u-lg-1-2 body-text pad" id="text1">
      <p>
        Sue Shekut, LCPC, LMT, is a psychotherapist in private practice,
        specializing in trauma recovery and relationship issues. Sue holds a
        master's degree in Clinical Professional Psychology from Roosevelt
        University and is trained in Dialectical Behavior Therapy, EMDR, Somatic
        Resilience and Regulation, Sex Therapy and Trauma-Sensitive Yoga. Sue is
        also a Certified Sex Addiction Therapist. In addition, Sue has been a
        bodyworker and yoga practitioner for over 19 years with a deep
        understanding of how to calm the nervous system and help people cope
        with pain and stress. Sue's approach is collaborative, versus
        confrontational. She integrates wellness, interpersonal neuropsychology,
        and positive psychology in her therapy sessions. Sue uses the tools of
        validation, compassion, expressive arts, somatic awareness, and gentle
        humor to help client heal.
      </p>
      <p>
        If you are interested in contacting Sue to schedule an appointment, you
        can call her at 773-206-1866 or email
        <a href="mailto:Sue@SueShekut.com" target="_blank">Sue@SueShekut.com</a
        >.
      </p>
    </div>
  </div>
</div>
