<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text pure-u-1 text-center strip-margin">
      Asma Afridi, MeD, LCPC, PEL
    </h1>
    <div class="pure-u-1 pure-u-lg-1-2 pad">
      <img
        src="https://res.cloudinary.com/dz9rf4hwz/image/upload/v1540148695/innerpath/Asma.jpg"
        class="pure-img rounded"
      />
    </div>

    <div class="pure-u-1 pure-u-lg-1-2 body-text pad" id="text1">
      <p>
        As a culturally skilled licensed clinical professional counselor (LCPC)
        and a professional school counselor, I have experience working primarily
        with adolescents and adults in both school and clinical settings. I
        enjoy working with individuals, couples, and families from all walks of
        life in a person centered and collaborative environment.
      </p>
      <p>
        My genuine personality, gentle nature, and client centered approach to
        therapy creates a safe environment where trust between client and
        therapist is of utmost importance. My passion is my clients; walking
        alongside them and empowering them to make healthy decisions for
        themselves. My goal is to work with my clients and help them find the
        courage to address the challenges that face them – and guide them on a
        path to happiness and mental peace.
      </p>
    </div>
    <div class="pure-u-1 pure-u-lg-3-4 body-text pad box-center" id="text2">
      <p>
        Drawing from my vast work and life experiences, I have a holistic
        approach to therapy where I use several different treatment modalities
        to help clients based on their age, goals. and needs. These techniques
        include Cognitive Behavioral Therapy (CBT), Acceptance and Commitment
        Therapy (ACT), mindfulness, Dialectical Behavioral Therapy (DBT) and
        psychodynamic therapy. With breakthroughs in psychology and
        psychotherapy happening everyday, I am also very keen on continuing to
        get versed and trained in the latest therapy modalities or trends.
      </p>
      <p>
        When not with my clients, I enjoy spending time with my husband and four
        children, volunteering, exercising, traveling, and entertaining friends
        and family at our home.
      </p>
    </div>
  </div>
</div>
