<div class="route-content">

  <div class="pure-g">
    <h1 class="header-text box-center name">Monique Prohaska-Slattery LCPC, ATR, CYT</h1>
    <div class="pure-u-1 pure-u-lg-1-2 pad">
      <img src="https://res.cloudinary.com/dz9rf4hwz/image/upload/v1540148413/innerpath/Monique_s_pic.jpg"
        class="pure-img rounded">
    </div>

    <div class="pure-u-1 pure-u-lg-1-2 body-text pad" id="text1">
      <p>
        My passion is to help others find peace, perseverance, and resilience through 
        everyday struggles and stressors.
      </p>
      <p>
        Whether you are a woman, child, teen, or young adult going through a life transition, 
        a relationship issue, experiencing stress, facing anxiety or depression, or anything 
        else that's letting you know that "something's not quite right," 
        finding a healthy outlet to express yourself and explore solutions is where your 
        transformation begins.
      </p>
    </div>
    <div class="pure-u-1 pure-u-lg-3-4 body-text pad box-center" id="text2">
      <p>
        For 20 years I have worked with ages 6 years to adult in special education schools
        and private practice encouraging a healthy approach to their mind, body, and spirit.
        I believe that connecting with my clients is the most important part in therapy.
        Working together in a safe environment encourages change which promotes belief
        in one's self and capabilities. I use a variety of therapeutic modalities to help clients
        gain increased self-esteem, positive coping strategies, communication, and healthy
        relationships.
      </p>
      <p>
        I am a Licensed Clinical Professional Counselor (LCPC), Registered Art Therapist
        (ATR), as well as a Certified Yoga Teacher (CYT) and Reiki Master Practitioner. I also
        use holistic therapies such as yoga, meditation, reiki, and mindfulness techniques
        into sessions when appropriate.
      </p>
      <p>
        I look forward to accompanying you on your journey to finding creative solutions to
        make healing connections!
      </p>
    </div>
  </div>
</div>