<mat-toolbar color="primary">

  <span>Inner Path Counseling and Wellness</span>
  <span class="spacer"></span>
  <span class="nav-items">
    <button class="nav-text" mat-button [matMenuTriggerFor]="navAbout">About Us</button>
    <button class="nav-text" mat-button [matMenuTriggerFor]="navSpecialties">Specialties</button>
    <button class="nav-text" mat-button [matMenuTriggerFor]="navOther">Other Services</button>
    <button class="nav-text" mat-button routerLink="forms">Forms</button>
    <button class="nav-text" mat-button [matMenuTriggerFor]="navBlogs">Blogs</button>
    <button class="nav-text" mat-button routerLink="contact">Contact</button>
  </span>

</mat-toolbar>

<mat-menu #navAbout="matMenu" [overlapTrigger]="false">
  <button class="nav-text" mat-menu-item>Shelley Pier, LCSW</button>
  <button class="nav-text" mat-menu-item>Eryn Smith-Moeller, LCPC</button>
  <button class="nav-text" mat-menu-item>Asma Afridi, MeD, LCPC, PEL</button>
  <button class="nav-text-small" mat-menu-item>Monique Prohaska-Slattery LCPC, ATR, CYT</button>
</mat-menu>
<mat-menu #navSpecialties="matMenu" [overlapTrigger]="false">
  <button class="nav-text" mat-menu-item>Animal-Assisted Therapy</button>
  <button class="nav-text" mat-menu-item>EMDR</button>
  <button class="nav-text" mat-menu-item>Grief</button>
  <button class="nav-text-small" mat-menu-item>Healing from Toxic Relationships</button>
  <button class="nav-text" mat-menu-item>IFS/Parts Work</button>
  <button class="nav-text" mat-menu-item>LGBTQIAP</button>
  <button class="nav-text" mat-menu-item>Shame Work</button>
  <button class="nav-text" mat-menu-item>Trauma/PTSD</button>
  <button class="nav-text" mat-menu-item>Workshops</button>
</mat-menu>
<mat-menu #navOther="matMenu" [overlapTrigger]="false">
  <button class="nav-text" mat-menu-item>Clinical Consultation</button>
  <button class="nav-text" mat-menu-item>Expert Witness</button>
  <button class="nav-text" mat-menu-item>Licensure Supervision</button>
  <button class="nav-text-small" mat-menu-item>Therapist Practice Start-Up Consult</button>
  <button class="nav-text" mat-menu-item>Training/Workshops</button>
</mat-menu>
<mat-menu #navBlogs="matMenu" [overlapTrigger]="false">
  <button class="nav-text" mat-menu-item>Shelley's Blog</button>
  <button class="nav-text" mat-menu-item>Eryn's Blog</button>
</mat-menu>

<router-outlet></router-outlet>
