@import '../app-theme';

#nav-bar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.nav-items {
  display: flex;
  justify-content: space-around;
}

.nav-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.nav-text-small {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.logo-text {
  display: inline-flex;
  flex-direction: column;
  line-height: 25px;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.logo-text-1 {
  font-family: 'Lora', sans-serif;
  font-size: 25px;
}

.logo-text-2 {
  font-family: 'Lora', sans-serif;
  font-size: 15px;
}

#route-container {
  // Set route height to guarentee footer anchor to bottom
  min-height: calc(100vh - 64px - 530px);
}

#contact-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: hsl(291, 9%, 16%);
  color: hsl(0, 0%, 64%);
  text-align: center;
  font-weight: 400;
  margin-top: 30px;

  .divider {
    width: 20%;
  }

  ::ng-deep .mat-form-field-label {
    color: hsl(0, 0%, 64%) !important;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: hsl(174, 100%, 29%) !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: hsl(0, 0%, 64%) !important;
  }
}

#contact-text {
  font-size: 24px;
  color: hsl(40, 20%, 97%);
  font-weight: 400;
}

#address-form {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
}

#contact-info {
  width: 450px;
  padding: 10px 0 10px 0;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 10px 0 10px 0;
}

#contact-name {
  display: flex;
  justify-content: space-between;
  .input-name {
    width: 47%;
  }
}

#contact-submit {
  width: 108px;
}

#copy {
  margin-top: 80px;
}

/**** Animations ****/

.page-transition {
  animation-duration: 0.6s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
