<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text text-center pure-u-1 strip-margin">Couples Therapy</h1>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        While past generations of couples might have taken the attitude of “grin and bear it” 
        when difficulties arise in their relationship, these days most couples are less 
        willing to tolerate an unhappy relationship or marriage. Couples often seek therapy 
        in order to improve romantic relationships, resolve interpersonal conflicts, and 
        improve communication techniques. Timing is everything when it comes to couples 
        counseling – waiting too long to get help can be very costly, in more ways than one.
      </p>
      <p>
        When seeing a couples therapist, the therapist is more like an experienced 
        consultant rather than a fixer. Couples counseling is a dynamic process and 
        it requires each partner to take an active role, while a therapist assists and 
        guides the couple to consider new and different ways of looking at things. Our 
        couples therapist is trained in Emotion Focused Couples Therapy, the Gottman 
        method, and other solution focused relationship strategies to help clients 
        create real change.
      </p>
    </div>
  </div>
</div>