<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text text-center pure-u-1 strip-margin">
      Workshops/Groups
    </h1>

    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad info-box">
      <h3 class="sub-header-text">
        Reconnecting with the Wild Woman Archetype Group
      </h3>
      <p>
        The book <i>Women Who Run with the Wolves</i> is an amazing resource for
        those wanting to reconnect with our inner Wild Woman. We meet twice a
        year and there is often a beginner and advanced group going. This is a
        powerful meeting of women who are curious and willing to dive deep into
        reading and discussing archetypal ideas around the feminine and the
        powerful that resides within each of us.
        <b>Workshop dates to be announced. Contact for more info.</b>
      </p>
      <h3 class="sub-header-text">Creative Healing</h3>
      <p>
        Sometimes working through the pain, shame, and hurt of life is easier to
        express without words. Through collage, markers, beading, and
        journaling, there are many ways creativity helps us heal. We can help
        facilitate your creative healing or reconnect you with blocked
        creativity through vision board making.
        <b>Workshop dates to be announced. Contact for more info.</b>
      </p>
      <h3 class="sub-header-text">
        What is "Healthy"? Develop Your "Relationship Radar"
      </h3>
      <p>
        In this workshop we explore, as a group, what characterizes a healthy
        relationship ("green flags") and contrast that with what is unhealthy
        ("red flags"). By the end of the workshop, you will have a new "radar"
        for sensing healthy and unhealthy characteristics in relationships along
        with your own personal list of what you do and don't want in future
        relationships.
        <b>Workshop dates to be announced. Contact for more info.</b>
      </p>
    </div>
  </div>
</div>
