<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text pure-u-1 text-center strip-margin">Yoga</h1>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        Yoga is a practical aid and is based on an ancient art that harmonizes the development of 
        the body, mind, and spirit. Breath control, simple meditation, and body postures are 
        practiced for relaxation. Our Yoga trained therapist personalizes sessions to each 
        individual client. Sessions are tailored for unique, sequenced asanas (positions) for 
        clients dealing with anxiety, depression, and sleeplessness, or needing relaxation and 
        the alignment of the chakras. Yoga is a body centered meditation used to clear the mind, 
        connect to the Self, and tap into your power of awareness.
      </p>
      <p class="text-center">
        Find your center.<br>
        Find your peace.<br>
        Find yourself.<br>
        Find your <i>bliss</i>.
      </p>
    </div>
  </div>
</div>