<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text pure-u-1 text-center strip-margin">EMDR</h1>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        EMDR or Eye Movement Desensitization and Reprocessing is a form of
        psychotherapy that helps people heal from the symptoms and emotional
        distress that are a result of disturbing life experiences. EMDR involves
        the use of eye movements (or other bilateral stimulation such as
        tapping). It is believed that eye movements are a powerful way to heal
        the brain, similar to how REM (rapid eye movement) during sleep helps us
        heal and process the events of the day.
      </p>
      <p>
        EMDR therapy shows that the mind can heal from psychological trauma much
        as the body recovers from physical trauma. Your brain wants to heal
        itself! If you have a wound, the body works to close the wound. If a
        foreign object or repeated injury irritates the wound, it festers and
        causes pain. Once the block is removed, healing resumes. EMDR therapy
        demonstrates that a similar sequence of events occurs with mental
        processes. The brain's information processing system naturally moves
        toward mental health. EMDR therapy trained clinicians can help clients
        activate their natural healing processes.
      </p>
      <p>
        EMDR has been ranked as one of the #1 treatments for trauma by the World
        Health Organization and its effectiveness has been extensively
        researched since its inception in 1987 by Dr. Francine Shapiro. EMDR is
        also extremely useful for treating anxiety, panic attacks, phobias,
        grief, depression, issues stemming from childhood, low self-esteem,
        troubling life experiences, and body issues. EMDR has a direct effect on
        the brain's ability to process your experiences properly so these
        troubling thoughts and memories no longer have the impact they once did.
        After successful EMDR treatment, you will notice a significant reduction
        in symptoms associated with your issue.
      </p>
      <p>
        It is important that you receive EMDR treatment from someone who is
        properly trained. Both <a routerLink="/shelley">Shelley</a> and
        <a routerLink="/eryn">Eryn</a> are EMDR certified therapists have
        received training from the EMDR Institute which is associated with the
        EMDR International Association, founded by the creator of EMDR, Dr.
        Francine Shapiro. We are fortunate to be mentored by a clinician who
        learned EMDR directly from Dr. Shapiro herself. We attend regular
        trainings and receive consultation regarding our EMDR practice, so as to
        better our skills and make treatment more effective and successful for
        our clients.
      </p>
      <p>
        If you are interested in receiving EMDR, or have questions about this
        form of treatment, please feel free to contact us!
      </p>
    </div>
  </div>
</div>
