<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text pure-u-1 text-center strip-margin">
      Therapist Practice Start-Up Consult
    </h1>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        Therapists just starting in private practice sometimes feel overwhelmed
        with where to begin, how to get going, and what steps to take.
      </p>
      <p>
        We provide consultation for start-up therapists seeking guidance, ideas,
        and suggestions!
      </p>
      <p>
        We offer 30 day unlimited email consult for $75 or one in-person session
        for $75. Feel free to utilize both options! Having support when you are
        starting out is key. Common questions we can help with include:
      </p>
      <ul>
        <li>
          Which insurance panels should I choose to be on? How do I apply?
        </li>
        <li>
          How do I transition from my full time agency job to private practice?
        </li>
        <li>
          What do you mean there are many ways to be in private practice? Group
          practice vs renting on your own?
        </li>
        <li>How much should my full fee be?</li>
        <li>How do I attract clients?</li>
        <li>How do I market myself? Build a website? Do social media?</li>
        <li>How do I create my own paperwork?</li>
        <li>How do I track client payments, do notes, file claims?</li>
        <li>How do I keep from being too isolated in private practice?</li>
        <li>Can I create a group to generate more income?</li>
        <li>What about passive income?</li>
      </ul>
      <p>
        We are passionate about helping therapists work their way towards their
        dream practice! We have worked our way up from agencies too; we know the
        struggle is real! We have lots of tips and tricks to share with you. We
        would love to support you as you launch into the next phase of your
        career! Contact us to start getting the support and information you need
        to build a thriving business, from therapists who have worked our way
        up, just like you!
      </p>
    </div>
  </div>
</div>
