<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text text-center pure-u-1 strip-margin">Adolescents</h1>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        During the adolescent years (13 - 19 years), young people experience
        rapid physical, mental, and emotional changes. Teenagers, just like
        adults, experience their own set of stressors during this period related
        to school, family, and social issues. Though most teenagers will make it
        through adolescent years just fine, others need a little extra support
        to navigate their lives. Adolescent therapy helps them by offering
        emotional support, opportunity to learn new skills related to coping
        with stressors, understanding feelings and problems, and creating goals
        related to change in behavior. The length of psychotherapy for each
        client depends on the complexity and severity of the issues.
      </p>
      <p>
        Inner Path is lucky to have two therapists (<a routerLink="/asma"
          >Asma</a
        >
        and <a routerLink="/monique">Monique</a>) who have extensive experience
        working with adolescents, both in a private practice and school
        settings. They both find the adolescent years to be the most exciting
        stage of development, but they also know it can be an overwhelming time
        for both the teenagers and their parents. It is their passion to help
        young clients as they go through the process of discovery of the self
        and the world around them.
      </p>
    </div>
  </div>
</div>
