<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text text-center pure-u-1 strip-margin">Grief</h1>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      Grief happens when you experience feelings as the result of something
      changing or ending. Most people think of grief when it relates to death of
      a person, however there are many reasons why you might be experiencing
      grief. The following is a list of causes for grief, however because grief
      is a form of trauma, note that your grief is personal to you and might not
      exactly fit in these categories.
    </div>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <ul>
        <li>Death of a person</li>
        <li>Death of a pet/animal</li>
        <li>Divorce/separation</li>
        <li>Injury/illness</li>
        <li>Major life changes (for the good or bad)</li>
        <li>Work changes</li>
        <li>Family issues/changes</li>
        <li>Sexual difficulties</li>
        <li>Marital difficulties</li>
        <li>Financial changes</li>
        <li>School difficulties or changes</li>
        <li>Change in living conditions</li>
        <li>Loss or changes in friendships</li>
        <li>Holidays</li>
        <li>Loss of childhood</li>
        <li>Loss of safety</li>
        <li>Identity issues</li>
      </ul>
    </div>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      Grief is a normal and natural reaction to loss or change. If you would
      like to talk more with our
      <a routerLink="/shelley">grief specialist</a> about making a plan to start
      your journey towards healing, contact us today.
    </div>
  </div>
</div>
