/* You can add global styles to this file, and also import other style files */

@import './app-theme';

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pad {
  padding: 1em;
}

.spacer {
  flex: 1 1 auto;
}

* {
  font-family: 'Work Sans', sans-serif;
}

.body-text {
  font-weight: 300;
  line-height: 30px;
  font-size: 20px;
}

.divider {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  background-color: $primary;
}

a {
  color: lighten($primary, 10%);
  text-decoration: none;
  &:hover {
    color: lighten($primary, 30%);
    transition: 0.2s;
  }
}

img.rounded {
  border-radius: 20px;
}

.route-content {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  @media screen and (min-width: 80em) {
    width: 70%;
  }
}
