@import './pure-gride.scss';
@import './app-theme';

* {
  font-family: 'Work Sans', sans-serif;
}

.body-text {
  font-weight: 300;
  line-height: 30px;
  font-size: 20px;
}

.header-text {
  font-weight: 400;
  font-size: 56px;
}

.sub-header-text {
  font-weight: 400;
  font-size: 32px;
}

.divider {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  background-color: $primary;
}

a {
  color: lighten($primary, 10%);
  text-decoration: none;
  &:hover {
    color: lighten($primary, 30%);
    transition: 0.2s;
  }
  &:visited {
    color: lighten($primary, 10%);
  }
}

img.rounded {
  border-radius: 20px;
}

.paw {
  position: relative;
  top: 2px;
}

.route-content {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  @media screen and (min-width: 80em) {
    width: 70%;
  }
}

.snackbar-color button {
  color: teal;
}
