<div class="route-content">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-2 pad box-center">
      <img
        src="https://res.cloudinary.com/dz9rf4hwz/image/upload/v1541885613/innerpath/InnerPathLogoFull.png"
        class="pure-img rounded logo-full"
      />
    </div>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        Healing can be a confusing process and unique for each individual. It is
        also one that we can help you navigate. Here at Inner Path, our mission
        is to help you discover and tap into your own inner wisdom. We believe
        your insight is a precious resource that when illuminated will help
        guide you on your path towards healing. WWe work to cultivate a
        supportive community of clinicians who are passionate about client
        insight, growth, and change while also bringing gentleness and
        compassion.
      </p>
      <p>
        We believe that seeking out and addressing the root of the problem, not
        just managing symptoms, is key to true transformation. We enjoy being
        part of the healing process; empowering people to discover their own
        capacities for growth and change. We believe that each of us already
        holds the keys to our highest good!
      </p>
      <p>
        Inner Path Counseling and Wellness is made up of experienced and caring
        practitioners who are ready to collaborate with you and help guide you
        on your path towards healing. If you feel ready to begin taking steps on
        your healing journey, we are here. We typically reply within 24 hours of
        receiving your message. We would be honored to accompany you on your
        healing path. We look forward to talking with you soon!
      </p>
    </div>
    <div class="pure-u-1 pure-u-lg-3-4 pad box-center">
      <img
        src="https://res.cloudinary.com/dz9rf4hwz/image/upload/v1547781279/innerpath/group_shelves_sm.jpg"
        class="pure-img rounded box-center"
      />
    </div>
    <div class="pure-u-1 pure-u-lg-3-4 pad box-center">
      <img
        src="https://res.cloudinary.com/dz9rf4hwz/image/upload/v1547781310/innerpath/group_couch.jpg"
        class="pure-img rounded box-center"
      />
    </div>
  </div>
</div>
