<div class="route-content">
  <div class="pure-g">
    <h1 class="header-text pure-u-1 text-center strip-margin">
      Licensure Supervision
    </h1>
    <div class="pure-u-1 pure-u-lg-3-4 body-text box-center pad">
      <p>
        We love helping new clinicians grow in their skills! Obtaining
        supervision for licensure can often be frustrating if the agency or
        workplace you are with does not have licensed clinicians on staff. Being
        a new clinician and paying high rates to obtain supervision can also be
        an obstacle. We are here to help! We offer low cost Licensure
        Supervision in either individual or group format depending on your
        needs. Our schedule is flexible to be able to meet with you weekly,
        bi­weekly, or monthly.
      </p>
      <p>
        If you would like to discuss how we can help you obtain your need for
        supervision, contact us anytime!
      </p>
    </div>
  </div>
</div>
